.intrinsic
{
  font-family: sans-serif;
}

.intrinsic .name
{
  font-size: 16pt;
  font-weight: bold;
}

.intrinsic .subsection
{
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12pt;
  font-weight: bold;
}

.intrinsic .description
{
}

.intrinsic .category
{
}

.intrinsic .instruction
{
  font-family: Monaco;
}

.intrinsic .header
{
  font-family: Monaco;
}

.intrinsic .synopsis
{
  font-family: Monaco;
  background: #efeff5;
  padding: 0.5em;
  border: 0px;
  border-radius: 6px;
}

.intrinsic .operation
{
  font-family: Monaco;
  background: #efefef;
  padding: 0.5em;
  border: 0px;
  border-radius: 6px;
}
